body {
  margin: 0;
  }
#header {
  width: 100%;
  height: 49px;
  background: #202329;
  display: flex;
  justify-content: center;
  }
.header-main {
  width: 1184px;
  height: 49px;
  display: flex
  }
 .logo {
  flex: 1.8;
  width: 105px;
  height: 30px;
  background: url(https://static.zhipin.com/zhipin-geek/v313/web/geek/images/logo-2x.png) 3px 7px no-repeat;
  background-size: 105px 19px;
  position: relative;
  top: 5px; 
  }
.nav-city {
  flex: 2;
  display: flex;
  width: 110px;
  height: 36px;
  position: relative;
}
.icon-poi {
  flex: 0.4;
  width: 15px;
  height: 28px;
  background: url(https://static.zhipin.com/zhipin-geek/v313/web/geek/images/icon-poi.png) 0 -165px;
  margin: 16px 3px 0 12px;
}
.nav-city-selected {
  flex: 1;               
  width: 28px;
  height: 14px;
  font-size: 14px;
  color: #00d7c6;
  position: relative;
  top:13px;
}
.switchover-city {
  flex: 2;               
  width: 60px;
  height: 14px;
  font-size: 12px;
  color: #ffffff;
  position: relative;
  top:15px;
}
.nav {
  flex: 4;
  display: flex;
  width: 340px;
  height: 48.8px;
  position: relative;
  font-size: 14px;
}
.header-home {
  flex: 1;
  width: 48px;
  height: 48.8px;
  font-size: 14px;
  color: #00d7c6;
  font-size: 14px;
  text-align: center;
  line-height: 48.8px;
  position: relative;
}
.header-job {
  flex: 1;
  width: 48px;
  height: 48.8px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 48.8px;
}
.header-job:hover {
  color: #00d7c6;
}
.nav-school-new {
  flex: 1;
  width: 48px;
  height: 48.8px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 48.8px;
}
.nav-school-new:hover {
  color: #00d7c6;
}
.header_brand {
  flex: 1;
  width: 48px;
  height: 48.8px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 48.8px;
}
.header_brand:hover {
  color: #00d7c6;
}
.header-app {
  flex: 1;
  width: 48px;
  height: 48.8px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 48.8px;
}
.header-app:hover {
  color: #00d7c6;
}
.header-article {
  flex: 1;
  width: 48px;
  height: 48.8px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 48.8px;
}
.header-article:hover {
  color: #00d7c6;
}
.btns {
  flex: 10;
  display: flex;
  width: 340px;
  height: 48.8px;
  position: relative;
  font-size: 14px;
}
.nlp_resume_upload {
  flex: 1.5;
  width: 48px;
  height: 48.8px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 48.8px;
  position: relative;
  margin: 0 0 0 300px;
}
.nlp_resume_upload:hover {
  color: #00d7c6;
}
.header-geek {
  flex: 2;
  width: 48px;
  height: 48.8px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 48.8px;
}
.header-geek:hover {
  color: #00d7c6;
}
.header-boss {
  flex: 1.5;
  width: 48px;
  height: 48.8px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 48.8px;
}
.header-boss:hover {
  color: #00d7c6;
}
.header-register {
  flex: 0.7;
  display: flex;
  width: 48px;
  height: 48.8px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 15px;
  border: 1px solid#00d7c6;
  border-radius: 20px;
  height: 26px;
  align-items: center;
  padding: 0 0 0 7px;
  margin: 11px 0 0 0;
  position: relative;
  left: 15px;
}
.header-register:hover {
  color: #00d7c6;
}
.header-login {
    flex: 0.7;
  display: flex;
  width: 48px;
  height: 48.8px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 15px;
  border: 1px solid#00d7c6;
  border-radius: 20px;
  height: 26px;
  align-items: center;
  padding: 0 0 0 7px;
  margin: 11px 0 0 0;
  position: relative;
  left: 30px;
}
.header-login:hover {
  color: #00d7c6;
}
.un-login-banner {
  width: 100%;
  height: 120px;
  background: #00b38a;
  display: flex;
  justify-content: center;
}
.un-login-banner-inner {
  display: flex;
  width: 1200;
  height: 100%;
}
.un-login-banner-inner .ad-logo {
  width: 228px;
  height: 120px;
  background: #00b38a url(https://www.lgstatic.com/lg-www-fed/common/widgets/un_login_banner/img/logo_41a2761.png) no-repeat;
  background-size: 228px 120px;
}
.un-login-banner-inner .text-wrapper {
  flex: 1;
}
.un-login-banner-inner .text-wrapper .text-wrapper-img {
  width: 334px;
  height: 30px;
  background: #00b38a url(https://www.lgstatic.com/lg-www-fed/common/widgets/un_login_banner/img/text_4434674.png) no-repeat;
  background-size: 334px 30px;
  margin: 40px 0 0 25px;
}
.un-login-banner-inner .text-wrapper .text-wrapper-content {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #FFF;
  margin: 5px 0 0 25px;
}
.register-login-form {
  position: relative;
  width: 485px;
  height: 120;
  margin: -95px 0 0 500px;
}
.register-login-form .input-wrapper-tel {
  width: 212px;
  height: 35px;
  margin: 45px 0 0 0;
}
.register-login-form .input-wrapper-tel .area-code-content {
  width: 66px;
  height: 35px;
  background: #fff;
  font-size: 14px;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  text-align: center;
  line-height: 35px;
  color: #999;
}
.register-login-form .input-wrapper-tel .area-code-content-after {
  width: 9px;
  height: 5px;
  position: absolute;
  margin: -17.5px 0 0 66px;
  background: #fff url(https://www.lgstatic.com/lg-www-fed/common/widgets/un_login_banner/img/trangle_1091ce9.png) no-repeat;
  color: #999;
  display: inline-block;
}
.register-login-form .input-wrapper-tel .tell-input {
  display: inline-block;
  width: 146px;
  height: 35px;
  background: #fff;
  font-size: 14px;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  text-align: center;
  line-height: 35px;
  color: #000;
  border: 0;
  margin: -35px 0 0 66px;
  outline: none;
}
.yzm-input {
  display: inline-block;
  width: 94px;
  height: 35px;
  background: #fff;
  font-size: 14px;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  line-height: 35px;
  color: #000;
  border: 0;
  margin: -35px 0 0 221px;
  padding: 0 0 0 10px;
  outline: none;
}
.yzm-btn {
  display: inline-block;
  width: 52px;
  height: 35px;
  background: #fff;
  font-size: 14px;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  line-height: 35px;
  margin: -35px 0 0 310px;
  text-align: center;
  line-height: 35px;
  color: #00b38a;
}
.yzm-btn:before {
  content: '';
  position: absolute;
  left: 308;
  top: 13px;
  width: 1px;
  height: 12px;
  background: #d5dadf;
  overflow: hidden;
}
.register-login-btn {
  width: 107px;
  height: 34px;
  border: 1px solid#fff;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
  margin: -35px 0 0 373px;
  cursor: pointer
}
.register-login-btn:hover {
  background: rgba(255,255,255,0.25)
}
.search-wrapper {
  width: 100%;
  height: 120px;
  background: #f2f5f4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_box {
  display: flex;
  width: 938px;
  height: 46px;
}
.search_input {
  width: 795px;
  height: 48px;
  margin: -1px 0 0 -1;
  border: 0;
  font-size: 16px;
  padding: 0 0 0 16px;
  border: 1px solid #e8e8e8;
  outline: none;
}
.search_button {
  width: 143px;
  height: 47px;
  background: #00b38a;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 46px;
  margin: -1px -1px 0 0;
  cursor: pointer
}
.search_button:hover {
  background: #00a57f;
}
#container {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
}
.container-body {
  display: flex;
  width: 1200px;
  height: 100%;
  position: relative;
  top: 30px;
}
.sidebar {
  width: 321px;
  height: 383px;
}
.menu_box-tech {
  width: 321px;
  height: 47px;
}
.menu_box-tech:hover {
  box-shadow: 0 0 4px 0 rgba(214, 214, 214, 1);
}
.menu_box-tech:hover:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 310px;
  width: 7px;
  height: 47px;
  background: #fff;
  z-index: 100;
}
.menu_box-tech .tech {
  display: inline-block;
  width: 51px;
  height: 20px;
  font-size: 18px;
  font-weight: 500;
  padding: 12px 0 0 10px;
}
.menu_box-tech .java {
  display: inline-block;
  font-size: 14px;
  color: #555;
  text-decoration: none;
}
.menu_box-tech .php {
  display: inline-block;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  margin: 0 0 0 15px;
}
.menu_box-tech .cpp {
  display: inline-block;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  margin: 0 0 0 15px;
}
.menu_box-tech .php {
  display: inline-block;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  margin: 0 0 0 15px;
}
.menu_box-tech .blockchain {
  display: inline-block;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  margin: 0 0 0 15px;
}
.menu_box-tech .arrow {
  content: "";
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 11px;
  margin: 20px 0 0 45px;
  background-size: contain;
  background: url(https://www.lgstatic.com/lg-www-fed/index/modules/sidebar/img/arrow_92b8589.png) no-repeat;
}
.menu_sub-tech {
  display: none;
}
.menu_box-tech:hover .menu_sub-tech {
  display: inline-block;
  width: 622px;
  height: 1097px;
  position: absolute;
  background: #fff;
  left: 315px;
  box-shadow: 0 0 4px 0 rgba(214, 214, 214, 1);
  z-index: 10;
}
.menu_box-tech:hover .menu_sub-tech .back-end_develop {
  display: block;
  font-size: 14px;
  color: #555;
  margin: 15px 0 0 20px;
}
.menu_box-tech:hover .menu_sub-tech a {
  display: inline-block;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  margin: 12px 0 0 18px;
}
.menu_box-tech:hover .menu_sub-tech .java {
  color: #00b38a;
}
.menu_box-tech:hover .menu_sub-tech .cpp {
  color: #00b38a;
}
.menu_box-tech:hover .menu_sub-tech .cpp::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 50px;
  left: 59px;
}
.menu_box-tech:hover .menu_sub-tech .php::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 50px;
  left: 111px;
}
.menu_box-tech:hover .menu_sub-tech .data_mining::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 50px;
  left: 163px;
}
.menu_box-tech:hover .menu_sub-tech .search_algorithm::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 50px;
  left: 244px;
}
.menu_box-tech:hover .menu_sub-tech .accurate_recommendation::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 50px;
  left: 323px;
}
.menu_box-tech:hover .menu_sub-tech .C::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 50px;
  left: 403px;
}
.menu_box-tech:hover .menu_sub-tech .Csharp::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 50px;
  left: 438px;
}
.menu_box-tech:hover .menu_sub-tech .full_stack_developer::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 50px;
  left: 480px;
}
.menu_box-tech:hover .menu_sub-tech .dotnet::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 50px;
  left: 573px;
}
.menu_box-tech:hover .menu_sub-tech .Python::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 82px;
  left: 84px;
}
.menu_box-tech:hover .menu_sub-tech .Delphi::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 82px;
  left: 156px;
}
.menu_box-tech:hover .menu_sub-tech .VB::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 82px;
  left: 224px;
}
.menu_box-tech:hover .menu_sub-tech .Perl::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 82px;
  left: 265px;
}
.menu_box-tech:hover .menu_sub-tech .Ruby::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 82px;
  left: 314px;
}
.menu_box-tech:hover .menu_sub-tech .Nodejs::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 82px;
  left: 372px;
}
.menu_box-tech:hover .menu_sub-tech .Go::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 82px;
  left: 447px;
}
.menu_box-tech:hover .menu_sub-tech .ASP::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 82px;
  left: 490px;
}
.menu_box-tech:hover .menu_sub-tech .Shell::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 82px;
  left: 541px;
}
.menu_box-tech:hover .menu_sub-tech .blockchain::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 12px;
  background: #D8D8D8;
  top: 116px;
  left: 72px;
}
.menu_box-product {
  width: 321px;
  height: 47px;
  display: flex;
  align-items: center;
  position: relative;
}
.menu_box-product .product {
  display: inline-block;
  font-size: 18px;
  padding: 0 8px 0 9px;
  position: relative;
}
.menu_box-product .product_director {
  display: inline;
  padding: 5px 14px 0 14px;
  font-size: 14px;
  text-decoration: none;
  color: #555555;
}
.menu_box-product .product_manager {
  display: inline;
  padding: 5px 14px 0 14px;
  font-size: 14px;
  text-decoration: none;
  color: #555555;
}
.menu_box-product .arrow {
  position: absolute;
  width: 6px;
  height: 11px;
  top: 21px;
  left: 303px;
  background: url(https://www.lgstatic.com/lg-www-fed/index/modules/sidebar/img/arrow_92b8589.png);
}
.menu_box-design {
  width: 321px;
  height: 47px;
  display: flex;
  align-items: center;
  position: relative;
}
.menu_box-design .product {
  display: inline-block;
  font-size: 18px;
  padding: 0 8px 0 9px;
  position: relative;
}
.menu_box-design .product_director {
  display: inline;
  padding: 5px 14px 0 12px;
  font-size: 14px;
  text-decoration: none;
  color: #555555;
}
.menu_box-design .product_manager {
  display: inline;
  padding: 5px 10px 0 10px;
  font-size: 14px;
  text-decoration: none;
  color: #555555;
}
.menu_box-design .arrow {
  position: absolute;
  width: 6px;
  height: 11px;
  top: 21px;
  left: 303px;
  background: url(https://www.lgstatic.com/lg-www-fed/index/modules/sidebar/img/arrow_92b8589.png);
}
.menu_box-operation, .menu_box-market, .menu_box-sale, .menu_box-function, .menu_box-game {
  width: 321px;
  height: 47px;
  display: flex;
  align-items: center;
  position: relative;
}
.menu_box-operation .product, .menu_box-market .product, .menu_box-sale .product, .menu_box-function .product, .menu_box-game .product {
  display: inline-block;
  font-size: 18px;
  padding: 0 8px 0 9px;
  position: relative;
}
.menu_box-operation .product_director, .menu_box-market .product_director, .menu_box-sale .product_director, .menu_box-function .product_director, .menu_box-game .product_director {
  display: inline;
  padding: 5px 12px 0 12px;
  font-size: 14px;
  text-decoration: none;
  color: #555555;
}
.menu_box-operation .product_manager, .menu_box-market .product_manager, .menu_box-sale .product_manager, .menu_box-function .product_manager, .menu_box-game .product_manager {
  display: inline;
  padding: 5px 14px 0 14px;
  font-size: 14px;
  text-decoration: none;
  color: #555555;
}
.menu_box-operation .arrow, .menu_box-market .arrow, .menu_box-sale .arrow, .menu_box-function .arrow, .menu_box-game .arrow {
  position: absolute;
  width: 6px;
  height: 11px;
  top: 21px;
  left: 303px;
  background: url(https://www.lgstatic.com/lg-www-fed/index/modules/sidebar/img/arrow_92b8589.png);
}
.home_banner {
  width: 840px;
  height: 346px;
  position: relative;
  top: 15px;
  left: 50px;
  background: url(https://www.lgstatic.com/i/image/M00/5C/79/Ciqc1F-BoEWAfwFdAAFeKcxwItY619.JPG);
}