#container {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
}
.container-body {
  display: flex;
  width: 1200px;
  position: relative;
  top: 30px;
}
.container-body .content_left {
  flex: 1;
}
.container-body .content_right {
  width: 182px;
  height: 825px;
}
.details {
  position: relative;
  background: #fafafa;
  list-style: none;
  width: 999px;
  height: 233px;
  border: 1px solid #ebebeb;
}
.has-more {
  font-size: 14px;
  padding: 10px 0;
}
.has-more .title {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  font-weight: 700;
  color: #555555;
  padding: 10px 10px;
}
.has-more .current_city {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  padding: 3px 8px;
  text-decoration: none;
  background-color: #fff;
  color: #555;
  border: 1px solid #ebebeb;
}
.has-more .hot-city-name {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  color: #555555;
  padding: 10px 8px;
  text-decoration: none;
}
.has-more .btn-more {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  color: #555555;
  padding: 10px 10px;
  text-decoration: none;
  position: relative;
  left: 105px;
}
.has-more .btn-more .triangle {
  position: absolute;
  border-top: 6px solid #00b38a;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: 18px;
  left: 44px;
}
.multi-chosen {
  font-size: 14px;
  padding: 10px 0;
}
.multi-chosen .title {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  font-weight: 700;
  color: #555555;
  padding: 10px 10px;
}
.multi-chosen .option {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  color: #555555;
  padding: 10px 8px;
  text-decoration: none;
}
.multi-chosen .unlimited_option {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  padding: 3px 8px;
  text-decoration: none;
  background-color: #00b38a;
  color: #fff;
  border: 1px solid #ebebeb;
}
.has-more-area {
  font-size: 14px;
  padding: 10px 0;
}
.has-more-area .title {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  font-weight: 700;
  color: #555555;
  padding: 10px 10px;
}
.has-more-area .area {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  color: #555555;
  padding: 10px 8px;
  text-decoration: none;
}
.has-more-area .unlimited_area {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  padding: 3px 8px;
  text-decoration: none;
  background-color: #00b38a;
  color: #fff;
  border: 1px solid #ebebeb;
}
.has-more-area .btn-more {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  color: #555555;
  padding: 10px 10px;
  text-decoration: none;
  position: relative;
  left: 156px;
}
.has-more-area .btn-more .triangle {
  position: absolute;
  border-top: 6px solid #00b38a;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: 18px;
  left: 44px;
}
.btn-collapse-wrapper {
  position: relative;
  margin-top: -1px;
  height: 17px;
  width: 1000px;
  background: #fff;
  display: flex;
  justify-content: center;
}
.btn-collapse-wrapper .arrow {
  display: block;
  position: relative;
  bottom: 1px;
  height: 15px;
  width: 36px;
  border: 1px solid #ededed;
  border-top-color: #fafafa;
  background: #fafafa url(https://www.lgstatic.com/lg-www-fed/search-result/modules/filter/img/arrow_up_b7a7618.png) center no-repeat;
}
.content_left .order {
  position: relative;
  margin-top: 28px;
  background-color: #fafafa;
  border: 1px solid #ededed;
  width: 960px;
  height: 45px;
  list-style: none;
}
.content_left .order .wrapper {
  width: 960px;
  height: 45px;
  color: #555;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.content_left .order .wrapper .item-order {
  position: relative;
  right: 40px;
}
.content_left .order .wrapper .item-order .title {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  font-weight: 700;
  color: #555555;
  padding: 10px 10px;
}
.content_left .order .wrapper .item-order .default {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  padding: 3px 8px;
  text-decoration: none;
  background-color: #00b38a;
  color: #fff;
  border: 1px solid #ebebeb;
}
.content_left .order .wrapper .item-order .newest {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  color: #555555;
  padding: 10px 8px;
  text-decoration: none;
}
.item-salary .title {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  font-weight: 700;
  color: #555555;
  padding: 10px 10px;
}
.item-salary select {
  border: 0;
}
.item-type select {
  border: 0;
}
.item-type {
  position: relative;
  left: 29px;
}
.item-type .title {
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  font-weight: 700;
  color: #555555;
  padding: 10px 10px;
}
.item-page {
  width: 120px;
  height: 43px;
  border-left: 1px solid #ebebeb;
  position: relative;
  left: 370px;
  display: flex;
  align-items: center;
}
.item-page .page-number {
  width: 55px;
  height: 22px;
  position: relative;
  top: 2px;
  left: 6px;
}
.item-page .page-number .curNum {
  color: #00b38a;
}
.item-page .prev {
  width: 32px;
  height: 23px;
  background: url(https://www.lgstatic.com/lg-www-fed/search-result/modules/common/img/icons_6084500.png) -148px -4px no-repeat;
  position: relative;
  display: block;
}
.item-page .next {
  width: 32px;
  height: 23px;
  background: url(https://www.lgstatic.com/lg-www-fed/search-result/modules/common/img/icons_6084500.png) -168px -4px no-repeat;
  position: relative;
  display: block;
}
.position_list {
  width: 960px;
  height: 2269px;
}
.item_con_list {
  width: 960px;
  height: 2112px;
  list-style: none;
}
.item_con_list li {
  width: 1000px;
  height: 124px;
  position: relative;
  right: 40px;
  border: 1px solid #ededed;
  margin-top: 18px;
}
.item_con_list li .position .p_top a {
  font-size: 16px;
  color: #00b38a;
  position: relative;
  top: 15px;
  left: 15px;
}
.item_con_list li .position .p_top span {
  font-size: 14px;
  color: #999;
  position: relative;
  top: 15px;
  left: 15px;
}
.item_con_list li .position .p_bot .money {
  font-size: 16px;
  color: #fd5f39;
  position: relative;
  top: 15px;
  left: 15px;
}
.item_con_list li .position .p_bot .experience_and_educational {
  font-size: 14px;
  color: #555;
  position: relative;
  top: 15px;
  left: 29px;
}
.business_license {
  display: none;
}
.company .company_name .name {
  color: #00b38a;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  bottom: 33px;
  left: 528px;
}
.company .company_name .company_mark {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 18px;
  background: url(https://www.lgstatic.com/lg-www-fed/search-result/modules/positions/img/approve_aae725a.png) no-repeat 0 0;
  cursor: pointer;
  bottom: 29px;
  left: 528px;
}
.company .industry {
  font-size: 14px;
  color: #555;
  position: relative;
  bottom: 30px;
  left: 528px;
  width: 303px;
}
.com_logo {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #f5f5f5;
  background: url(https://www.lgstatic.com/thumbnail_120x120/i/image2/M01/D3/C1/CgoB5lxGkWOAX8BcAAFAxNnySXk934.PNG);
  background-size: 60px 60px;
  position: relative;
  bottom: 77px;
  left: 911px;
}
.list_item_bot {
  width: 970px;
  height: 40px;
  padding: 0 15px;
  background-color: #fafafa;
  position: relative;
  bottom: 76px;
}
.li_b_r {
  position: relative;
  bottom: 17px;
  left: 506px;
  z-index: 1;
  font-size: 14px;
  color: #555;
  width: 380px;
}
.li_b_l {
  position: relative;
  top: 6px;
}
.li_b_l span {
  display: inline-block;
  height: 20px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 20px;
  color: #555;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
}
.hurry_up {
  width: 40px;
  height: 40px;
  background-image: url(https://www.lgstatic.com/lg-www-fed/search-result/modules/positions/img/hurry-new_e6c989a.png);
  background-size: 40px 40px;
  position: absolute;
}
.direct_recruitment {
  width: 40px;
  height: 40px;
  background-image: url(https://www.lgstatic.com/lg-www-fed/search-result/modules/positions/img/direct-recruit@2x_0d49da5.png);
  background-size: 40px 40px;
  position: absolute;
}
.history {
  width: 182px;
  height: 475px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  background-color: #fafafa;
}
.history .title {
  font-size: 18px;
  margin: 0 0 2px 15px;
  padding-top: 12px;
}
.history .history_position_list {
  margin: 5px 5px 0;
  background-color: #fff;
  list-style: none;
  padding: 0;
}
.history .p_list_item {
  padding: 7px 10px;
  border-bottom: 1px dashed #e8e8e8;
  width: 151px;
}
.history .p_list_item .name {
  height: 23px;
  line-height: 23px;
  font-size: 14px;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  color: #333;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 6px 0 0 0;
  display: block;
}
.history .p_list_item .salary {
  color: #fd5f39;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
}
.history .p_list_item .c_name {
  font-size: 12px;
  color: #999;
  height: 24px;
  line-height: 24px;
}